body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:654px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:654px;
}
#u1 {
  position:absolute;
  left:2px;
  top:319px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:5px;
  top:493px;
  width:230px;
  height:316px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:316px;
}
#u3 {
  position:absolute;
  left:2px;
  top:150px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:260px;
  top:120px;
  width:1010px;
  height:550px;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:550px;
}
#u5 {
  position:absolute;
  left:2px;
  top:267px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:320px;
  top:144px;
  width:860px;
  height:76px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:76px;
}
#u7 {
  position:absolute;
  left:2px;
  top:30px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:346px;
  top:186px;
  width:644px;
  height:16px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:310px;
  top:238px;
  width:888px;
  height:62px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:62px;
}
#u11 {
  position:absolute;
  left:2px;
  top:23px;
  width:884px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:346px;
  top:330px;
  width:114px;
  height:16px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:436px;
  top:330px;
  width:114px;
  height:16px;
  font-size:16px;
  color:#009933;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1048px;
  top:252px;
  width:140px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
}
#u17 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:640px;
  top:318px;
  width:131px;
  height:41px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:346px;
  top:377px;
  width:114px;
  height:16px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:436px;
  top:375px;
  width:144px;
  height:18px;
  font-size:16px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:640px;
  top:361px;
  width:105px;
  height:38px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:38px;
}
#u25 {
  position:absolute;
  left:2px;
  top:11px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:346px;
  top:163px;
  width:644px;
  height:16px;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:830px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:830px;
}
#u29 {
  position:absolute;
  left:2px;
  top:407px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:330px;
  top:148px;
  width:601px;
  height:379px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:379px;
}
#u31 {
  position:absolute;
  left:2px;
  top:182px;
  width:597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:340px;
  top:212px;
  width:580px;
  height:228px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:228px;
}
#u33 {
  position:absolute;
  left:2px;
  top:106px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:350px;
  top:230px;
  width:560px;
  height:46px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:46px;
}
#u35 {
  position:absolute;
  left:2px;
  top:15px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:367px;
  top:248px;
  width:527px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:14px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:346px;
  top:163px;
  width:122px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:400px;
  top:307px;
  width:90px;
  height:13px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:476px;
  top:293px;
  width:224px;
  height:41px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:41px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:400px;
  top:359px;
  width:90px;
  height:13px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:13px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:480px;
  top:344px;
  width:220px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
